[submodule "megalodon"]
	path = megalodon
	url = https://github.com/h3poteto/megalodon
[submodule "kysely"]
	path = kysely
	url = https://github.com/kysely-org/kysely
[submodule "effect"]
	path = effect
	url = https://github.com/effect-ts/effect
