dist
.wrangler
.gitmodules
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js
/tasks
tsconfig.tsbuildinfo
.turbo

# Our git subtrees
/neverthrow
/effect
/megalodon
/kysely
/solid-start
/tom-cms-payload

# Environment
.env
.env*.local
.dev.vars

# dependencies
/node_modules
apps/web/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# sst
.sst
