@import "tailwindcss";

p {
	letter-spacing: -0.05em;
	padding-bottom: 1rem;
}

h1 {
	font-size: 2.25rem;
	font-weight: 500;
	letter-spacing: -0.05em;
}

h2 {
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: -0.05em;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

li {
	letter-spacing: -0.05em;
}

figcaption {
	font-size: 0.875rem;
	letter-spacing: -0.05em;
	color: #6b7280;
	margin-top: 0.5rem;
	text-align: center;
}

.banner {
	position: relative;
	line-height: 1.5;
	margin-top: 1rem;
	width: 100%;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding-left: 0;
	padding-right: 0;
	padding-top: 1rem;
	color: rgb(0 0 0);
	border-color: rgb(209 213 219);
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
}

.banner-title {
	font-size: 0.875rem;
	font-weight: 600;
	letter-spacing: -0.05em;
	background-color: rgb(230, 216, 226);
	padding: 0.25rem 0.5rem;
	flex-shrink: 0;
}

.posts-lists {
	list-style-position: inside;
}

footer {
	width: 100%;
}

a {
	cursor: pointer;
	outline-color: transparent;
	text-decoration: underline;
	transition: color 100ms ease-in-out;
	border: 2px solid transparent;
	letter-spacing: -0.05em;
}

a:hover {
	color: #cc0081;
}

a:focus-visible {
	outline-offset: 4px;
	outline-color: #ad1174;
	border-color: #ad1174;
}

*::selection {
	background: #cc0081;
	color: #ffffff;
}
*::-moz-selection {
	background: #cc0081;
	color: #ffffff;
}
*::-webkit-selection {
	background: #cc0081;
	color: #ffffff;
}
